<div>
    <header class="main-header">
      <div>
        <!-- <img src="../../../assets/images/logo.jpg" -->
        <a routerLink="/home"><img src="../../../../assets/img/logo.jpg" width="250" height="90"></a>
      </div>
      <input type="checkbox" class="menu-btn" id='menu-btn'>
      <label for="menu-btn" class="menu-icon">
        <span class="menu-icon__line"></span>
      </label>
      <ul class= "nav-links">
        <li class="nav-link">
          <a routerLink = '/'>HOME</a>
        </li>
        <li class="nav-link">
          <a routerLink="/catalogo">CATALOGO</a>
        </li>
        <li class="nav-link">
          <a routerLink="/nosotros" >NOSOTROS</a>
        </li>
        <li class="nav-link">
          <a routerLink="/login" id="menu-icon"><i class="far fa-user"></i></a>
        </li>
        <li class="nav-link">
          <a routerLink="/carrito" id="menu-icon"><i class="fas fa-shopping-cart"></i></a>
        </li>
      </ul>
    </header>
  </div> 
