
<body class="text-center">
    <div class="container">
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <form class="form-signin" [formGroup]='loginForm' (ngSubmit)='onSubmit()'>
                    <img class="mb-4" src="../../../assets/img/iso.jpg" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Inicia Sesion</h1>

                    <label for="inputEmail">Email</label>
                    <!--EMAIL SIGNUP-->
                    <input 
                        type="text" 
                        formControlName='email' 
                        id="inputEmail" 
                        class="form-control" 
                        placeholder="Email" 
                        required autofocus
                    />
                    <label for="inputPassword">Password</label>
                    <!--PASSWORD SIGNUP-->

                    <input 
                        type="text" 
                        formControlName='password' 
                        id="inputPassword" 
                        class="form-control" 
                        placeholder="Password" 
                        required
                    />
                    <p></p>
                    <button class="btn btn-primary btn-block" type="submit" >Iniciar Sesion</button>
                    <div class="mb-3">
                        <p></p>
                        <p>No tienes una cuenta?</p>
                      <a routerLink = '/registrarse'> Registrate</a>
                    </div>
                    <div #login>
                        <p></p>
                        <button class="btn google btn-block" (click)='loginWithGoogle()'>Inicia con Google</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
