

<div class="card" *ngFor='let item of bolsasCollection.data'>
  <div *ngIf='item.idFirebase === bolsaId'>
    <div class="card-header"><strong>FACTURACION -- {{ bolsaId }}</strong></div>
  <div class="card-body">
      <form [formGroup]="registroForm">
          <div class="form-group">
            <label>ID Usuario</label>
            <select name="categoria" formControlName="uid" class="form-control">
              <option value="{{user.uid}}">
                {{user.uid}}
              </option>               
            </select>
          </div>
          <div class="form-group">
            <label>Correo Usuario</label>
            <select name="categoria" formControlName="correo" class="form-control">
              <option value="{{user.email}}">
                {{user.email}}
              </option>               
            </select>
          </div>
          <div class="form-group">
            <label for="to" >METODO DE PAGO</label>
            <select name="categoria" formControlName="mpago" class="form-control">
                <option value="{{item.nombre}}" *ngFor="let item of pagosCollection.data">
                  {{ item.nombre }}
                </option>               
              </select>
          </div>
            <div class="form-group">
              <label for="to" >METODO DE RETIRO</label>
              <select name="categoria" formControlName="mretiro" class="form-control">
                  <option value="{{item.nombre}}" *ngFor="let item of retirosCollection.data">
                    {{ item.nombre }}
                  </option>               
                </select>
            </div>
            <div class="form-group">
              <label for="from" >Direccion</label>
              <input type="text" id='from' formControlName="direccion" class="form-control">
          </div>
          <div class="form-group">
            <label for="from" >Precio= {{((item.precio * item.peso)/50)}} $</label>
        </div>
          <button class="btn btn-primary btn-sn"  (click)='guardarRegistro()' routerLink="/carrito/{{user.uid}}">Pagar</button>
      </form>
  </div>
  </div>
</div>
                  
<div class="form-group">
  
</div>