<div>
    <header class="main-header">
      <div>
        <a routerLink="/admin"><img src="../../../../assets/img/logo.jpg" width="250" height="90"></a>
      </div>
      <input type="checkbox" class="menu-btn" id='menu-btn'>
      <label for="menu-btn" class="menu-icon">
        <span class="menu-icon__line"></span>
      </label>
      <ul class= "nav-links">
        <li class="nav-link">
          <a routerLink = 'producto'>PRODUCTOS</a>
        </li>
        <li class="nav-link">
          <a routerLink="categoria">CATEGORIAS</a>
        </li>
        <li class="nav-link">
          <a routerLink="pago" >PAGO</a>
        </li>
        <li class="nav-link">
          <a routerLink = 'retiro'>RETIRO</a>
        </li>
        <li class="nav-link">
          <a routerLink = 'registro'>REGISTROS</a>
        </li>
        <li class="nav-link">
          <a routerLink="/login" id="menu-icon"><i class="far fa-user"></i> ADMIN</a>
        </li>
      </ul>
    </header>
  </div> 
  <br><br><br><br>