<div class="card">
    <div class="card-header"><strong>Filtros</strong></div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="from" >Nombre</label>
                <input type="text" id='from' class="form-control">
            </div>
            <div class="form-group">
                <label for="to" >Categoria</label>
                <select name="categoria" formControlName="categoria" class="form-control">
                    <option *ngFor="let item of categoriasCollection.data">
                      {{ item.nombre }}
                    </option>               
                  </select>
            </div>
        
            <button class="btn btn-primary btn-block btn-sn">Filtrar</button>
        </form>
    </div>
</div>

<!-- <h2 *ngFor="let item of categoriasCollection.data" > {{ item.nombre }} </h2>  -->