.card{
    background-color: #FFF1ED;
    border: 2px solid #000000;
    font-family: Raleway;
    font-style: normal;

    .btn{
        background-color: #FFB3C0;
        border: 2px solid #000000;
        border-radius: 10px;
        transition: none;
        //.btn:active{
            //arreglar esto para que no se vea azul
        //}
    }
}