<body class="text-center" >
    <div class="container">
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                    <img class="mb-4" src="../../../assets/img/iso.jpg" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Registrate</h1>
                <form [formGroup]='signupForm' class="form-signin" (ngSubmit)='onSubmit()'>
                    <label for="inputEmail">Email </label>
                    <!--EMAIL SIGNUP-->
                    <input 
                        type="text" 
                        id="inputEmail" 
                        class="form-control" 
                        placeholder="Email" 
                        formControlName="email"
                        required
                    />
                    <label for="inputPassword">Password</label>
                    <!--PASSWORD SIGNUP-->

                    <input 
                        type="text" 
                        id="inputPassword" 
                        class="form-control" 
                        placeholder="Password"
                        formControlName='password'  
                        required
                        />
                    <p></p>
                    <button class="btn btn-primary btn-block" type="submit" >Registrarse</button>
                </form>
                <div class="mb-3">
                    <p></p>
                    <p>Ya tienes cuenta?</p>
                  <a routerLink = '/login' >Inicia Sesion</a>
                </div>
            </div>
        </div>
    </div>
</body>
