
<section class="jumbotron text-center">
    <div class="container">
      <h1><strong>Quienes somos</strong></h1>
      <div class="container">
        <img class="bd-placeholder-img card-img-top" src="../../../assets/img/gob.jpg" >
      </div> 
      <br><br>
      <div class="container">
        <p>Somos un grupo de estudiantes los cuales diseñamos y creamos esta pagina enfocada principalmente en la venta de caramelos, Ofreciendo una pagina sencilla y facil de utilizar ademas productos de gran calidad para nuestros clientes</p>
      </div>
    </div>
</section>

