p{
    padding: 50px;
    left: 50px;
    right: 50px;
    top: 20px;
    background-color: #ffffff;
    border-radius: 47px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 47px;
    
}

.dentro{
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
}

img{
    border-radius: 72px; 
    border: 15px solid #ffffff;
}

