<footer class="main-footer">
    <div>
        <ul class= "footer-links">
            <li class="footer-link">
              <a href=# ><i class="fa fa-facebook"></i></a>
            </li>
            <li class="footer-link">
                <a href=# ><i class="fa fa-twitter"></i></a>
            </li>
            <li class="footer-link">
                <a href=# ><i class="fa fa-whatsapp"></i></a>
            </li>
            <li class="footer-link">
                <a href=# ><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
    </div>
</footer>
