.container{
    text-align: center;
}
.titu{
    font-size: 30px;
}
.card{
    background-color: #ffffff;
    border: 2px solid #000000;
    font-family: Raleway;
    font-style: normal;

    .btn{
        background-color: #ffffff;
        border: 2px solid #000000;
        border-radius: 10px;
        transition: none;
    }
}